
  

  /*Contenido del footer*/
  footer {
    background-color: #a3473a;
    color: #fff;
    padding: 1px;
    text-align: center;
  }
  

  .navbar {
    background-color: #a3473a;
}


  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #1866b9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos adicionales para pantallas más grandes */
  @media (min-width: 768px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .col {
      flex: 1;
    }
  }



  .titulo {
    font-size: 28px;
    color: #fff;
    line-height: 1.5;
    text-shadow: 1px 2px 4px rgb(0, 0, 0);
  }


  .text_main {
    font-size: 18px;
    line-height: 1.5;
  }


  #imagen_principal {
    padding: 3px;
    box-shadow: 1px 1px 20px #000000;
    box-shadow: 1px 1px 10px #000000;
  }

  

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    
  
  }
  
  header {
    color: #fff;
    padding: 30px;
    background-color: #a3473a;
    align-items: center;
    justify-content: space-between;
    position: relative;
    display: flex;
  }
  




  .text_main {
    color: #ffffff;
  }




